*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Ignore data files
ag5am5era4_allGenes_ambig.fasta
ag5am5par1era4_allGenes_StopCodonsRemoved.fasta
ag5am5par1era4_outgroup-erato_allGenes_LowFreqThreshold-0_StopCodonsRemoved_RESULTS.csv
dmel_hmel_1to1.RAW.out
dmel_hmel_1to1.REFORMAT.out
ag5am5era4_allGenes_ambig.fasta
all_orthomcl.out.parsed

# Ignore junk
junk*

# Ignore .csv results files.
*.csv
